@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0C0D10;
  color: white;
  font-family: var(--font-inter), sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
